body{
    background-image: url(https://imageresizer.static9.net.au/E65CS65-SRjW3khYT6Uqd75BWhU=/600x0/smart/https%3A%2F%2Fs3-ap-southeast-2.amazonaws.com%2Fnine-tvmg-images-prod%2F62%2F20%2F92%2F622092_p183931_b_h3_ac.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    background-color:lightgray;
    color: black;
    opacity: .75;
    margin-top: 200px;
    width:480px;
    padding: 20px;
    float:left;
}

#submit {
    background: firebrick;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.panel-title {
    color: firebrick;
}

.f-container{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color:lightgray;
        color: black;
        text-align: left;
        padding: 20px;
}